<template>
  <div>
    <div id="app">
      <div v-if="isGame">
        <div id="details">
          <h1>Kółko i krzyżyk</h1>
          <div id="wins">
            <h2>Gracz X ({{XPlayer}}): {{ wins.X }}</h2>
            <h2>Gracz O ({{OPlayer}}): {{ wins.O }}</h2>
            <h3>Ilość rozegranych meczy: {{ matches }}</h3>
            <button @click="restartAll" class="restart">ZRESETUJ CAŁĄ GRE</button>
          </div>
        </div>
        <grid></grid>
        <button class="restart" @click="restart">Zresetuj gre</button>
      </div>
      <div v-else>
        <h1>Nowa gra</h1>
        <input type="text" placeholder="Gracz 1" v-model="XPlayer">
        <input type="text" placeholder="Gracz 2" v-model="OPlayer">
        <button @click="isGame = true" class="btn">Rozpocznij</button>
      </div>
    </div>
  </div>
</template>

<script>
import Grid from './components/Grid.vue'

export default {
  components: { Grid },
  name: 'app',
  data () {
    return {
      matches: 0,
      wins: {
        O: 0,
        X: 0
      },
      isGame: false,
      XPlayer: "",
      OPlayer: "",
    }
  },

  methods: {
    restart () {
      Event.$emit('clearCell')

      Event.$emit('gridReset')

      this.matches++
    },

    restartAll(){
      Event.$emit('clearCell');
      Event.$emit('gridReset');

      this.matches = 0;
      this.wins.O = 0;
      this.wins.X = 0;
      this.isGame = false;
      this.XPlayer = "";
      this.OPlayer = "";
    }
  },

  created () {
    Event.$on('win', winner => this.wins[winner]++)
  }
}
</script>

<style>
body {
  background-color: #fff;
  color: #fff;
  font-family: 'Dosis', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 0px;
}

#app {
  margin: 0 auto;
  max-width: 270px;
  color: #34495e;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3em;
}

.restart {
  background-color: #FF9700;
  color: #fff;
  border: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: 'Dosis', Helvetica, sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  margin: 0px;
  padding: 15px;
  width: 100%;
}

.btn {
  background-color: #FF9700;
  color: #fff;
  border: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: 'Dosis', Helvetica, sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  margin: 0px;
  padding: 15px;
  width: 306px;
}

input{
  border: 3px solid #FF9700;
  color: #4C2D00;
  font-family: 'Dosis', Helvetica, sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 10px;
  padding: 15px;
  width: 100%;
}

.restart:hover {
  background-color: #c0392b;
  cursor: pointer;
}

.scoreBoard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 15px;
  background-color: #16a085;
  box-shadow: 10px solid #fff;
  padding: 20px;
  overflow-x: none;
}

.scoreBoard h2 {
  margin: 0px;
}

.scoreBoard span {
  float: right;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 20px;
}

#wins{
  position: absolute;
  top: 100px;
  left: 100px;
  background-color: #16a085;
  padding: 20px;
  border-radius: 5%;
  color:white;
}
</style>